/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */
@media print {
.noPrint {
    display:none;
  }
}
#crear{
	width: 40%;
	padding: 8px;
	margin-top: 20px;
}
.modal {
	text-align: center;
	display: none;
	position: absolute;
	top: 25%;
	left: 40%;
	width: 20%;
	height: 15%;
	padding: 16px;
	background: #e5e5e5;
	color: #333;
	z-index:1002;
	overflow: auto;
	border-radius: 20px; // en Firefox
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.modal_form {
	text-align: center;
	display: none;
	position: absolute;
	top: 5%;
	left: 30%;
	width: 40%;
	min-height: 52%;
	padding: 16px;
	background: #e5e5e5;
	color: #333;
	z-index:1002;
	overflow:au;
	border-radius: 20px;
}

